<div class="recipe-box">
    <div class="recipe-header">
        <div class="recipe-preamble">
            <h3 id="recipe-name" class="recipe-name">Recipe Name</h3>
            <div class="recipe-ingredients">
                <strong>Ingredients:</strong>
                <ul id="ingredient-list">
                </ul>
            </div>
        </div>
        <div class="recipe-photo">
            <img id="recipe-photo" alt="Recipe Photo">
        </div>
    </div>
    <div class="recipe-method">
        <strong>Method:</strong>
        <p id="method">This is where you describe how to prepare the recipe. Include steps and instructions.</p>
    </div>
    <div class="recipe-tags">
        <strong>Tags:</strong>
        <div id="tag-area"> <!-- Remember to add class="tag" to added <span> -->
        </div>
    </div>
</div>