<div class="recipe-box">
    <div class="recipe-header">
        <div class="recipe-preamble">
            <h3 id="recipe-name" class="recipe-name">Recipe Name</h3>
            <div class="recipe-ingredients">
                <strong>Ingredients:</strong>
                <ul id="ingredient-list">
                </ul>
            </div>
        </div>
        <div class="recipe-photo">
            <img id="recipe-photo" alt="Recipe Photo">
        </div>
    </div>
    <div class="recipe-method">
        <strong>Method:</strong>
        <p id="method">This is where you describe how to prepare the recipe. Include steps and instructions.</p>
    </div>
    <div class="recipe-footer"> 
        <div id="tag-area" class="recipe-tags">
            <strong>Tags:</strong>
        </div>
        <div id="recipe-actions">
            <a id="recipe-change-link" class="recipe-action-button" title="Edit recipe" aria-label="Edit recipe">
                <img id="edit-recipe-img" alt="Edit Recipe" src="Images/modify-recipe.png">
            </a>
            <button type="button" id="recipe-delete-button" class="recipe-action-button recipe-delete-button" title="Delete recipe" aria-label="Delete recipe">
                <svg viewBox="0 0 24 24" aria-hidden="true">
                    <path d="M9 3h6l1 2h4v2H4V5h4l1-2zm1 6h2v8h-2V9zm4 0h2v8h-2V9zM7 9h2v8H7V9zm1 12c-1.1 0-2-.9-2-2V8h12v11c0 1.1-.9 2-2 2H8z"></path>
                </svg>
            </button>
        </div>
    </div>
</div>
